doctype html
html(lang="ru-RU")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(charset="utf-8")
    meta(name="description", content="My flask blog")
    meta(name="author", content="D2emon")
    title Flask-Blog
    link(rel="shortcut icon", href="/static/images/chine.ico")
    link(rel="stylesheet", type="text/css", href="{{ url_for('static', filename='css/bootstrap.min.css') }}")
    link(rel="stylesheet", type="text/css", href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}")
    link(rel="stylesheet", type="text/css", href="{{ url_for('static', filename='css/font-awesome.min.css') }}")
    // link(rel="stylesheet", type="text/css", href="{{ url_for('static', filename='css/style.css') }}", media="all", id="diginews_style-css")
    link(rel="stylesheet", type="text/css", href="{{ url_for('static', filename='css/index.css') }}")
    // link(rel="stylesheet", type="text/css", href="{{ url_for('static', filename='css/SyntaxHighlighter/shCoreEclipse.css') }}")
    script(type="text/javascript", src="{{ url_for('static', filename='js/jquery.min.js') }}")
    script(type="text/javascript", src="{{ url_for('static', filename='js/bootstrap.min.js') }}")
    // script(type="text/javascript", src="{{ url_for('static', filename='js/modernizr-2.6.1.min.js') }}")
    script(type="text/javascript", src="{{ url_for('static', filename='js/index.js') }}")
    // script(type="text/javascript", src="{{ url_for('static', filename='js/scrollToTop.js') }}")
    // script(type="text/javascript", src="{{ url_for('static', filename='js/inputFocusOrBlur.js') }}")
    // script(type="text/javascript", src="{{ url_for('static', filename='js/jquery.form.js') }}")
    // script(type="text/javascript", src="{{ url_for('static', filename='js/SyntaxHighlighter/shCore.js') }}")
    // script(type="text/javascript", src="{{ url_for('static', filename='js/SyntaxHighlighter/shAutoloader.js') }}")
    // script(type="text/javascript", src="{{ url_for('static', filename='js/loadSyntaxHighlighter.js') }}")
    // script(type="text/javascript", src="{{ url_for('static', filename='js/keyboardControl.js') }}")
    block scripts

  body(class="home blog custom-background single-author")
    nav(class="navbar navbar-inverse navbar-fixed-top")
      .container
        .navbar-header
          button(type="button", class="navbar-toggle colapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="navbar-brand", href="#") Flask-Blog
        div(id="navbar", class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            li
              a(href="/") Home
            li.dropdown
              a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Categories <span class="caret"></span>
              ul.dropdown-menu
                | {% for c in g.categories %}
                li
                  a(href="/category/{{ c.id }}") {{ c.category_name }}
                | {% endfor %}
            li
              a(href="/about") About
            li
              a(href="/rss_lastnews") RSS
            | {% if not g.user %}
            li
              a(href="{{ url_for('login') }}") log in
            | {% else %}
            li
              a(href="{{ url_for('logout') }}") log out
            | {% endif %}

    .container
      | {% for message in get_flashed_messages() %}
      div(class="alert alert-info", role="alert") {{ message }}
      | {% endfor %}

    div(id="container")
      header(id="branding", role="banner")
        div(id="inner-header", class="clearfix")
          hgroup(id="site-heading")
            h1(id="site-title")
              a(rel="home", title="Home", href="/") Flask-Blog
            h2(id="site-description") My Flask-based blog.
          nav(id="access", role="navigation")
            h1(class="assistive-text section-heading") Main menu
            div(class="skip-link screen-reader-text")
              a(title="Skip to content", href="#content") Skip to content
            
            include __head.pug

      div(class="clearfix content")
        div(id="main", class="col620 clearfix", role="main")
          block content

        div(id="sidebar", class="widget-area col300", role="complementary")
          div(id="sidebar-wrap", class="clearfix")
            include __side.pug

      footer(id="colophon", role="contentinfo")
        div(id="site-generator")
          include __foot.pug
