div(class="menu")
  div(id="menu-icon") Menu
    ul
      li(class="current_page_item", id="{% if nav_current=='index' %}current{% endif %}")
        a(class="home", href="/") Home
      | {% for c in g.categories %}
      li(class="page_item page-item-2", id="{% if cat %}{% if cat.id==c.id%}current{% endif %}{% endif %}")
        a(href="/category/{{ c.id }}") {{ c.category_name }}
      | {% endfor %}
      li(class="page_item page-item-2", id="{% if nav_current=='about' %}current{% endif %}")
        a(href="/about") About
      li(class="page_item page-item-2", id="{% if nav_current=='rss' %}current{% endif %}")
        a(href="/rss_lastnews") RSS

  form(id="searchform", action="/search", method="get")
    div
      label(class="screen-reader-text", for="s") S???：
      input(id="s", type="text", name="s", value="")
      input(id="searchsubmit", type="submit", value="Submit")
  
  //.
    form(id="quick-search", method="get", action="/search/")
      fieldset(class="search")
        label(for="q") Search:
        input(class="tbox", id="qsearch", type="text", name="q", value="Search...", title="TITLE", onfocus="clS(1);", onblur="clS(0);")
        button(class="btn", title="Search") Search
