extends __base.pug

block scripts
  script(src="/static/js/base.js", type="text/javascript")

block content
  // Article
  article(id="post-58", class="post-58 post type-post status-publish format-standard hentry category-1")
    header(class="entry-header")
      div(class="entry-meta single-date")
        a(rel="bookmark", title="8:01 {{post.title}}", href="/article/{{post.id}}")
          time(class="entry-date", datetime="2013-01-01T00:00:00+00:00") {{ post.created_at|safe }}

      h1(class="entry-title") {{post.title}}
      div(class="entry-meta")
        span(class="byline")
          span(class="sep") by 
          span(class="author vcard")
            a(class="url fn n", rel="author", title="View all posts by {{post.author}}", href="/") {{post.author}}
          span(class="sep", style="float:right")
            a(title="Comments for {{post.title}}", href="/article/{{post.id}}#comments") {{post.comments_count}} comments
          span(class="sep", style="float:right") {{ post.views }} views
              
    div(class="entry-content post_content")
      | {{ (post.content|safe) }}
    script(type="text/javascript")
      //.
        google_ad_client = "ca-pub-3421553373953599";
        /* 派生文章下方 */
        google_ad_slot = "4648218430";
        google_ad_width = 468;
        google_ad_height = 60;
    script(type="text/javascript", src="http://pagead2.googlesyndication.com/pagead/show_ads.js")
    footer(class="entry-meta")
      span(class="cat-links")
        | Posted in
        a(rel="tag", title="Category {{post.categories.category_name}}", href="/category/{{post.categories.id}}") {{post.categories.category_name}}
      span(class="sep") | 
      span(class="tag-links")
        | Tagged:
        | {% for tag in post.tags %}
        span
          a(rel="tag", href="/tag/{{tag.id}}") {{tag.name}}
        | {% endfor %}

  div(id="respond")
    h3(id="reply-title") Articles
    form(id="commentform")
      | {% for a in articles %}
      li(position="0")
        a(class="wp_rp_title", href="/article/{{a.id}}") {{a.created_at}}--{{a.title}}
      | {% endfor %}	

  script(src="/static/js/comment.js") 

  div(id="comments")
    h2(id="comments-title") One thought on “<span>{{post.title}}</span>”
    ol(class="commentlist")
      | {% for c in postcoments %}
      li(id="li-comment-{{c.id}}", class="comment even thread-even depth-1")
        article(id="comment-{{c.id}}", class="comment")
          footer(class="clearfix comment-head")
            div(class="comment-author vcard")
              img(class="avatar avatar-50 photo", width="50", height="50", src="/static/images/{{c.id%10}}.png", alt="")
              cite(class="fn") {{c.author_name}}
            div(class="comment-meta commentmetadata")
              a(href="#comments")
                time(datetime="2013-01-01T02:07:46+00:00", pubdate="") {{c.comment_create_time}} 

          div(class="comment-content")
            p {{c.content}}
          div(class="act")
            a(onclick="MGJS_CMT.reply('authorid-{{c.id}}', 'comment');", href="javascript:void(0);") 回复
            | |
      | {% endfor %}

    div(id="respond")
      h3(id="reply-title") Leave a comment
      form(id="commentform", method="post", action="/addcomment")
        | {% if form %}
        | {{ form.hidden_tag() }}
        p {{form.post_id(type='hidden', value=post.id)}}
        p(class="comment-form-author")
          | {{ form.author_name.label  }} <span class="required">*</span>
          | {{ form.author_name(size=30) }}

        p(class="comment-form-email") 
          | {{ form.author_email.label }} <span class="required">*</span>
          | {{ form.author_email(size=30)}}

        p(class="comment-form-url") 
          | {{ form.author_url.label }}
          | {{ form.author_url(size=30)}}

        p(class="comment-form-comment")  
          | {{ form.content.label }}
          | {{ form.content(rows=8, cols=30)}}

        p(class="comment-form-recaptcha")  
          | {{ form.recaptcha.label  }}
          | {{ form.recaptcha}}

        p(class="form-submit")
          | {{ form.submit }}
        | {% endif %}
